<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ekadanta.co / Erik Aker</title>
    <link rel="icon" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="icon" type="text/css" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="static/highlight/styles/default.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script type="text/javascript" src="static/highlight/highlight.pack.js"></script>
</head>

<body>
    <div class="site-wide-wrapper">

        <header class="site-wide-head">

            <div class="site-head-logo">
                <div class="logo-left">ekadanta</div>
                <div class="logo-right">.co</div>
            </div>

            <nav class="site-head-nav">
                <ul>
                    <li class="nav-item">
                        <a href="/posts">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="home-main">
            <!-- Generic to all pages above -->

            <div class="edit-head">
                <h1>RESOURCE_ID: RESOURCE-TYPE</h1>
            </div>

            <form>
                <div class="row" method="post" action="/admin/item">
                    <div class="two columns">
                        <label for="pid">Post ID</label>
                        <input type="text" name="_pid" readonly>
                    </div>
                    <div class="two columns">
                        <label class="isPublishedLabel">
                            <input type="checkbox" name="_pubished">
                            <span class="label-body">Publish?</span>
                        </label>
                    </div>
                    <div class="four columns">
                        <label for="_resourceType">Resource Type</label>
                        <select class="u-full-width" id="resourceType" name="_resourceType" value="BlogPost">
                            <option value="Option 1">BlogPost</option>
                            <option value="Option 2">Project</option>
                            <option value="Option 3">About</option>
                        </select>
                    </div>
                    <div class="four columns">
                        <label for="pubDate">Publish Date</label>
                        <input class="u-full-width" placeholder="2018/01/01" id="pubDate" name="_pubDate" type="date">
                    </div>                   
                    
                </div>

                
                <label for="featuredImage">Featured Image</label>
                <input type="text" class="u-full-width" placeholder="Featured Image URL" id="featuredImage" name="_featuredImage">


                <label for="title">Title</label>
                <input type="text" class="u-full-width" placeholder="Sample post title" id="title" name="_title">

                <label for="lede">Lede</label>
                <textarea class="u-full-width" placeholder="This is a post lede (keep it short)..." id="lede" name="_lede"></textarea>

                <label for="body">Body</label>
                <textarea class="u-full-width" placeholder="This is a post about..." id="body" name="_body"></textarea>
                
                <label for="tags">Tags (Separate with commas)</label>
                <input type="text" class="u-full-width" placeholder="Haskell, Rust, Natural Language Processing" id="tags" name="_tags">



                <input class="button-primary" value="Submit" type="submit">
            </form>
            

            
            <!-- Generic to all pages below -->
        </div>
    </div>

    <footer id="site-footer">
        <p>Ekadanta.co Copyright (c) $year$ Erik Aker</p>
        <p>Site Designed by
            <a href="">Jonathan Whitmire</a>
        </p>
        <p>This website is
            <a href="">open source</a>
        </p>
        <script async src="https://www.google-analytics.com/analytics.js"></script>
        <script>(function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-89190801-1', 'auto');
            ga('send', 'pageview');
        </script>
    </footer>
</body>

</html>