<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ekadanta.co / Erik Aker</title>
    <link rel="icon" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="icon" type="text/css" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="static/highlight/styles/default.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script type="text/javascript" src="static/highlight/highlight.pack.js"></script>
</head>

<body>
    <div class="site-wide-wrapper">

        <header class="site-wide-head">

            <div class="site-head-logo">
                <div class="logo-left">ekadanta</div>
                <div class="logo-right">.co</div>
            </div>

            <nav class="site-head-nav">
                <ul>
                    <li class="nav-item">
                        <a href="/posts">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="home-main">
            <!-- Generic to all pages above -->

            <h2 class="section-head">📖 Blog</h2>
            <div class="row">

                <!-- Blog post list -->
                <div class="eight columns content-list">

                    <!-- One blog item -->
                    <div class="content-list-item">
                        <div class="content-list-item-featured-img">
                            <img src="static/images/children_pool_sea_wall.jpg" />
                        </div>
                        <div class="content-list-item-lede">
                            <span class="content-list-item-date">July 24, 2018</span>
                            <h3>Discover Little Known Secrets for Successful Living</h3>
                            <p>Here's a bunch of text from this latest post. It should be super interesting to read once we
                                actually get the styling done and the thing deployed. I'm not sure how long this section
                                will have to be...</p>
                            <div class="content-list-item-read-more">
                                <a href="home-read-more-article">Read More...</a>
                            </div>
                        </div>
                        <div class="content-list-item-tags">
                            <span>
                                <i class="fa fa-tag" aria-hidden="true"></i>
                            </span>
                            <ul>
                                <li class="content-list-item-tag">Python</li>
                                <li class="content-list-item-tag">Python</li>
                            </ul>
                        </div>
                    </div>

                    <!-- One blog item -->
                    <div class="content-list-item">
                        <div class="content-list-item-lede">
                            <span class="content-list-item-date">July 24, 2018</span>
                            <h3>Discover Little Known Secrets for Successful Living</h3>
                            <p>Here's a bunch of text from this latest post. It should be super interesting to read once we
                                actually get the styling done and the thing deployed. I'm not sure how long this section
                                will have to be...</p>
                            <div class="content-list-item-read-more">
                                <a href="home-read-more-article">Read More...</a>
                            </div>
                        </div>
                    </div>

                    <!-- One blog item -->
                    <div class="content-list-item">
                        <div class="content-list-item-featured-img">
                            <img src="static/images/apairatbeachsm.jpg" />
                        </div>
                        <div class="content-list-item-lede">
                            <span class="content-list-item-date">July 24, 2018</span>
                            <h3>Discover Little Known Secrets for Successful Living</h3>
                            <p>Here's a bunch of text from this latest post. It should be super interesting to read once we
                                actually get the styling done and the thing deployed. I'm not sure how long this section
                                will have to be...</p>
                            <div class="content-list-item-read-more">
                                <a href="home-read-more-article">Read More...</a>
                            </div>
                        </div>
                    </div>

                    <div class="content-list-paginator">
                        <div class="paginator invalid">
                            <</div>
                                <div class="paginator active">
                                    <a href="page-1-results">1</a>
                                </div>
                                <div class="paginator">2</div>
                                <div class="paginator">3</div>
                                <div class="paginator valid">></div>
                        </div>
                    </div>

                    <!-- Blog search and tag filtering -->
                    <div class="four columns">
                        <form>
                            <input class="u-full-width" placeholder="search ekandata.co" type="text">
                        </form>

                        <h3>Tags</h3>
                        <ul class="content-search-tags">
                            <li>Haskell</li>
                            <li class="active">Rust</li>
                            <li class="active">Philosophy</li>
                            <li>DevOps</li>
                            <li>Functional Programming</li>
                            <li>Natural Language Processing</li>
                            <li>Social Commentary</li>
                            <li class="active">Python</li>
                        </ul>
                    </div>
                    <!-- End two-column row -->
                </div>
                <!-- End two-column container -->
            </div>

            <!-- Generic to all pages below -->
        </div>
    </div>

    <footer id="site-footer">
        <p>Ekadanta.co Copyright (c) $year$ Erik Aker</p>
        <p>Site Designed by
            <a href="">Jonathan Whitmire</a>
        </p>
        <p>This website is
            <a href="">open source</a>
        </p>
        <script async src="https://www.google-analytics.com/analytics.js"></script>
        <script>(function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-89190801-1', 'auto');
            ga('send', 'pageview');
        </script>
    </footer>
</body>

</html>