<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ekadanta.co / Erik Aker</title>
    <link rel="icon" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="icon" type="text/css" href="/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="static/highlight/styles/default.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <script type="text/javascript" src="static/highlight/highlight.pack.js"></script>
</head>

<body>
    <div class="site-wide-wrapper">

        <header class="site-wide-head">

            <div class="site-head-logo">
                <div class="logo-left">ekadanta</div>
                <div class="logo-right">.co</div>
            </div>

            <nav class="site-head-nav">
                <ul>
                    <li class="nav-item">
                        <a href="/posts">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="home-main">
            <!-- Generic to all pages above -->


            <span class="breadcrumbs">📖 Blog</span>
            <span class="breadcrumbs">></span>
            <span class="breadcrumbs">Blog Post</span>

            <div class="content-detail-head">
                <span class="content-detail-date-head">November 10, 2017</span>
                <div class="content-detail-contact-head">
                    <ul class="content-detail-contact-links">
                        <li><i class="fa fa-github" aria-hidden="true"></i></li>
                        <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>

            <img class="content-detail-featured-img" src="./static/images/old_site_imgs/10fwy_and_110fwy_large.jpg" />

            <div class="content-detail-content">

                <div class="content-detail-body-head">
                    <h3 class="content-detail-title">Cooking Indian Food at Home: Where to start</h3>
                    <span class="content-detail-lede">Here is some content that represents the lede for this post. It may be two sentences.</span>
                </div>


                <div class="content-detail-body-content">
                    <p>Actual Post Content.</p>
                </div>

                <div class="content-detail-contact">
                    <ul class="content-detail-body-contact-links">
                        <li><i class="fa fa-github" aria-hidden="true"></i></li>
                        <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    </ul>
                </div>

            </div>


            <!-- Generic to all pages below -->
        </div>
    </div>

    <footer id="site-footer">
        <p>Ekadanta.co Copyright (c) $year$ Erik Aker</p>
        <p>Site Designed by
            <a href="">Jonathan Whitmire</a>
        </p>
        <p>This website is
            <a href="">open source</a>
        </p>
        <script async src="https://www.google-analytics.com/analytics.js"></script>
        <script>(function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-89190801-1', 'auto');
            ga('send', 'pageview');
        </script>
    </footer>
</body>

</html>