<section class="container u-full-width u-max-full-width">
  <div class="row">
    <div class="four columns">
      <div class="about-page-photo">
        <div class="about-page-photo-overlay">
        </div>
      </div>
      <p>Erik Aker is a software engineer in San Diego.</p>
      <div class="contact-us-details">
        <div class="contact-us-details">
          <div class="one-third column">
            <a href="https://twitter.com/erewok" class="u-max-full-width" target="_new">
              <i class="fa fa-twitter"></i>
            </a>
          </div>

          <div class="one-third column">
            <a href="https://github.com/erewok" class="u-max-full-width"  target="_new">
              <i class="fa fa-github"></i>
            </a>
          </div>
          <div class="one-third column">
            <a href="https://linkedin.com/in/erik-aker-41a3aa89" class="u-max-full-width" target="_new">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="eight columns">
      $partial("templates/post-list.html")$
    </div>
  </div>
</section>
